@keyframes flicker {
	0% {
		background: rgba(255, 255, 255, 0);
	}
	100% {
		background: rgba(255, 255, 255, 0.2);
	}
}

@keyframes scanline {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(100%);
	}
}

.moving-scanlines {
	background: repeating-linear-gradient(
		0deg,
		transparent,
		transparent 50%,
		rgba(255, 255, 255, 0.04) 50%,
		rgba(255, 255, 255, 0.04) 100%
	);
	background-size: 100% 4px;
	animation: scanline 4s linear infinite;
}

pre {
  overflow-x: auto !important;
  white-space: pre !important;
  max-width: 100% !important;
  -webkit-overflow-scrolling: touch !important; /* Smooth scrolling on iOS */
}

pre code {
  display: inline-block !important;
  min-width: 100% !important;
}

/* Ensure inline code also breaks */
:not(pre) > code {
  word-break: break-all !important;
  overflow-wrap: break-word !important;
  white-space: normal !important;
}
